h1 {
  font-family: Lato;
  letter-spacing: 4px;
}
h4 {
  text-transform: capitalize;
}

p {
  letter-spacing: 1px;
  margin-bottom: 0;
}
.btn.btn-danger {
  letter-spacing: 5px;
}
h2 {
  letter-spacing: 5px;
}
